@font-face {
  font-family: "Opensans regular";
  src: url("./Opensans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Opensans light";
  src: url("./Opensans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Helvetica regular";
  src: url("./Helvetica/HelveticaRegular.ttf");
}

@font-face {
  font-family: "Helvetica light";
  src: url("./Helvetica/HelveticaLight.ttf");
}
