//  Variables section
$accent: rgb(33, 150, 243);
$fontsize: 16px;
$textcolor: #333;
$lineheight: 1.65;
$systemfont: -apple-system,
BlinkMacSystemFont,
Arial,
sans-serif;
$userfont: "Roboto regular";
$grid-gutter-width: 24px;
$gutter: $grid-gutter-width;

$dark-text: #575d73;
$light-text: #7e86a1;

$dark: #444444;
$blue-gray: #607d8b;
$gray: #bdbdbd;
$dark-gray: #b3b3b3;
$deep-gray: #a9a9a9;
$light: #f4f5fd;
$white: #ffffff;

$teal: #009688;
$cyan: #00bcd4;
$light-blue: rgb(33, 150, 243);
$blue: rgb(12, 131, 225);
$dark-blue: rgb(11, 120, 206);
$deep-blue: #3f51b5;

$deep-purple: #673ab7;
$purple: #9c27b0;
$pink: #e91e63;
$red: #f44336;
$dark-red: #f33223;

$green: #1bc943;
$dark-green: #19b83d;
$light-green: #8bc34a;

$brown: #795548;
$deep-orange: #ff5722;
$orange: #ff9800;
$amber: #ffc107;
$yellow: #ffeb3b;
$lime: #cddc39;

// Import section
@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "./icons/css/all.css";

// Fonts section
@mixin font($fname, $url) {
  @font-face {
    font-family: $fname;
    src: url($url) format("truetype");
  }
}

@include font(Roboto normal, "./fonts/Roboto/Roboto-Regular.ttf");
@include font(Roboto normal-italic, "./fonts/Roboto/Roboto-Italic.ttf");
@include font(Roboto medium, "./fonts/Roboto/Roboto-Medium.ttf");
@include font(Roboto bold, "./fonts/Roboto/Roboto-Bold.ttf");
@include font(Opensans normal, "./fonts/Opensans/OpenSans-Regular.ttf");
@include font(Opensans medium, "./fonts/Opensans/OpenSans-SemiBold.ttf");
@include font(Opensans bold, "./fonts/Opensans/OpenSans-Bold.ttf");

// General section
::placeholder {
  color: inherit
}

input,
textarea {
  outline: none;
}

.checkbox {
  height: 16px;
  width: 16px;
}

.-btn {
  background-color: transparent;
  color: inherit;
  border: none;

  &:focus {
    outline: none;
  }
}

body {
  font-family: Roboto normal, sans-serif;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $textcolor;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

.-btn- {

  &primary {
    background-color: $accent;
    color: #ffffff;
    border: 1px solid $accent;

    &:hover {
      background-color: $blue;
      color: #ffffff;
    }
  }

  &light {
    color: $accent;
    border: 1px solid $accent;

    &:hover {
      background-color: $accent;
      color: #ffffff;
    }
  }

  &red {
    color: $red;
    border: 1px solid $red;

    &:hover {
      background-color: $red;
      color: #ffffff;
    }
  }

}

.-red {
  color: $red
}

.-green {
  color: $green
}