// Reset Default Styles
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Variables

@import "./variables.scss";

// Fonts
@import "./fonts/font-manager.scss";

// Shadows
@mixin mdshadow($depth: 1) {
  @if $depth==1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $depth==2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $depth==3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $depth==4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $depth==5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

//Bootstrap
@import "bootstrap";

// Reset Bootstrap

// --- Button Group
.btn {
  font-size: 14px;
}

.btn-sm {
  font-size: 13px;
}

.btn-blue {
  background: $blue;
  color: $white;

  &:hover {
    color: $white;
    background: $dark-blue;
  }
}

.btn-red {
  background: $red;
  color: $white;

  &:hover {
    color: $white;
    background: $dark-red;
  }
}

.btn-green {
  background: $green;
  color: $white;

  &:hover {
    color: $white;
    background: $dark-green;
  }
}

.btn-gray {
  background: $dark-gray;
  color: $white;

  &:hover {
    color: $white;
    background: $deep-gray;
  }
}

ul {
  margin: 0px;
}

// Reset Main Styles
button {
  border: none;
  outline: none;
  font-family: "Opensans regular";
  font-size: inherit;
  padding: 0;
  margin: 0;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

textarea {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  transition: all $delay ease;
  color: $blue;
  padding: 0;
  margin: 0;

  &:hover {
    text-decoration: none;
    color: $deep-blue;
  }
}

body {
  font-family: "Opensans regular";
}

.wrapper {
  width: 100%;
  padding: 20px 0;
  margin-left: 280px;
}

// Global Classes

.scroll {
  overflow-y: auto !important;
}
