// Custom styles section

@import "./config";

.toolbar {
    margin-top: 24px;
}

@include media-breakpoint-down(md) {
    .toolbar__navbar {
        margin-bottom: 10px;
    }
}

.note-list {
    margin: 24px 0px;
}

.note-list__item {
    &.done {
        .note-list__item-name {
            text-decoration: line-through;
            color: $accent;
        }
    }
}

.note-list__item-name {
    font-family: Roboto normal-italic;
}

.note-list__item-checkbox {
    vertical-align: sub;
}